.body {
    color: #000000;
    font-family: Inter;
}

.header {
    background-color: #007FB8;
    padding-bottom: 2rem;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 2rem;

}

.header-image {
    margin-left: 35px;
    margin-right: 35px;
}

.header-separator {
    width: 1px;
    height: 45px;
    border-left: 1px white solid;
}

.developed-by {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: flex-start;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.navbar {
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}

.navbar-separator {
    width: 0px;
    height: 16px;
    border: 1px black solid;
    margin-bottom: 15px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.description {
    margin-top: 0.5rem;
}

.content {
    margin-top: 100px;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 1rem;
}

.custom-card {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 2px #007FB8 solid;
    padding: 1.5rem;
    height: 250px;
    width: 450px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-number {
    color: #007fb8;
    font-size: 80px;
    font-weight: 400;
    margin-right: 10px;
}

.step-name {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.step-image {
    padding: 1rem;
}

.step2-image {
    width: 355px;
    height: 38px;

    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step2-description {
    margin-top: 0.5rem;
    color: #868686;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}

.bottom-section {
    color: #868686;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.content-note {
    text-align: center;
    color: black;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    margin-top: 1rem;
}

.background-container {
    display: flex;
    justify-content: center;
}

.bottom-background {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.footer {
    margin-top: 2rem;
    display: flex !important;

}

.footer-text {
    color: #163949;
    text-align: center;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 700;

}

.footer-separator {
    width: 1020px;
    height: 0px;
    border: 2px #A5A6A7 solid
}

.footer-element {
    color: #007FB8;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-element-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;

}

.footer-description {
    text-align: center;
    color: #163949;
    font-size: 10px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word;
}