html,
body {
    overflow-x: hidden;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.body {
    background-color: #E1F3FB;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    position: absolute;
    top: 2vh;
    left: 2vw; 
    width: 20vh; /* Limit the maximum width */
    height: auto; 
}

header {
    background-color: #2AB9CE;
}

.header-image {
    margin-left: 35px;
    margin-right: 35px;
}

.header-separator {
    width: 1px;
    height: 45px;
    border-left: 1px white solid;
}

.developed-by {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: flex-start;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar {
    /* margin-top: 1rem; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

.navbar-separator {
    width: 0px;
    height: 16px;
    border: 1px white solid;
    margin-bottom: 15px;
}

.infografia-codigo {
    text-align: left;
    margin-left: 23vh;
    margin-right: 2vh;
}


.infografia-header {
    text-align: center;
    margin: 1rem;
    margin-bottom: 1rem !important;
    margin-top: 5rem !important;

}

#infografia-header-img {
    width: 90%;
    height: auto;
    max-width: 2000px;
}

/* Seccion formulario  */

.formulario {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;
}

.formulario-background {
    width: 100%;
    background: #1D7389;
    border-radius: 5px;
    margin-left: -65px;
    padding: 1vh 1vh 1vh 85px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
}

#users {
    z-index: 1;
    align-self: center;
    margin-left: 0;
}

.form-text {
    color: white !important;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.row {
    margin-left: 65px;
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    color: white !important;
    font-weight: bolder;
    height: 39px;
    width: 80%;
    margin-top: 22px;
    background: #ACC736;
    border-radius: 10px;
    border: 2px #ACC736 solid
}

.form-button:hover {
    background-color: #869f2a;
    cursor: pointer;
}

.consulta-title {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.consulta-description {
    color: black;
    font-size: 16px;
    font-weight: 400;
}


.recursos-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #9BD6F1;
}

.recursos-title {
    color: #163949;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word
}

.recursos-categoria {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    align-items: center;
}

.recursos-categoria img{
    max-height: 93px;
    max-width: 100%;
}

.recursos-parragraph {
    color: black;
    font-size: 18px;
}

.recursos-img {
    max-width: 100%; /* Allow the image to take up the full width of its container */
    height: auto;
}

.datos {
    margin-top: 1rem;
}

.datos-title {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.datos-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-direction: row;
}

.datos-categoria {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.datos-categoria img {
    max-width: 100%;
    height: auto;
}

.datos-categoria:hover {
    cursor: pointer;
    opacity: 0.6;
}

.datos-boton {
    background: #163949;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.footer-text {
    text-align: center;
    color: #58A9DD;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 700;
}

.footer-separator {
    margin-top: 7rem;
    width: 100%;
    height: 0px;
    border: 2px rgba(155, 214, 241, 0.50) solid;
}

.footer-element {
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-decoration: underline;
}

.footer-element-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 20px; */
}


.footer-description {
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

@media (max-width:992px) {
    .logo-image {
        margin-left: 2rem;
        margin-top: 3rem;
        width: 200px;
        height: auto;
    }
}

@media (max-width:768px) {
    .logo-image {
        margin-left: 1rem;
        margin-top: 3rem;
        width: 100px;
        height: auto;
    }

    .footer-element {
        font-size: 14px;
    }

    .footer-description {
        font-size: 10px;
    }

    .header-image {
        width: 450px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #users {
        margin-right: 0.5rem;
    }

    .formulario-background {
        margin-left: -65px;
        padding: 1vh;
        padding-left: 70px;
    }

    .row {
        flex-direction: column;
        margin-left: 0;
    }

    .column {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .form-button,
    .layout {
        width: 100%;
    }

    .recursos-row {
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Center them */
    }

    .g-col-4 {
        max-width: 100%; /* Allow columns to take full width on small screens */
        margin-bottom: 1rem; /* Add space between the stacked items */
    }

    .recursos-title {
        font-size: 20px; /* Make the title font smaller for small screens */
        text-align: center;
    }

    .recursos-categoria img{
        max-height: 80px;
        max-width: 100%;
    }
}

@media (max-width:576px) {
    .header-image {
        width: 350px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar {
        font-size: 14px;
    }
}

#myIframe {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.pointer {
    cursor: pointer;
}

.spinner-frame{
    background-color: rgb(172,199,54)
}
