.body {
    background-color: #007FB8;
    color: #FFFFFF;
    font-family: Inter;
}

.grid {

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 2rem;

}

.header-image {
    margin-left: 35px;
    margin-right: 35px;
}

.header-separator {
    width: 1px;
    height: 45px;
    border-left: 1px white solid;
}

.developed-by {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: flex-start;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
}

.navbar {
    margin-top: 1rem;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-separator {
    width: 0px;
    height: 16px;
    border: 1px white solid;
    margin-bottom: 15px;
}


.title {
    text-align: center
}

.main-title {
    color: white;
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 600;
    word-wrap: break-word;
}

.second-title {
    color: white;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word;
}


.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex !important;
}

.description-background {
    width: 815px;
    height: 215px;
    background: rgba(217, 217, 217, 0.60);
    border-radius: 10px
}

.description-title-container {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between
}

.description-title {
    color: #163949;
    font-size: 14px;
    font-family: Inter;
    font-weight: bolder;
}

.description-separator {
    width: 0px;
    height: 15px;
    border: 1.5px rgba(155, 214, 241, 0.80) solid
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.options-container {
    width: 422px;
    height: 170px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 3px rgba(255, 255, 255, 0.50) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-title {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Roboto Flex;
    font-weight: 700;
    padding-top: 0.5rem;
    word-wrap: break-word
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.button {
    position: relative;
    background: none;
    border: none;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.05);
}

.footer {
    margin-top: 5rem;
    display: flex !important;

}

.footer-text {
    text-align: center;
    color: #9BD6F1;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 700;
}

.footer-separator {
    width: 1020px;
    height: 0px;
    border: 2px rgba(155, 214, 241, 0.50) solid;
}

.footer-element {
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-decoration: underline;
}

.footer-element-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 20px; */
}


.footer-description {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word;
}