html,
body {
    overflow-x: hidden;
}
a{
    color: black !important;
    text-decoration: none!important;
}
.body {
    background-color: #E1F3FB;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 2rem;

}

header {
    background-color: #2AB9CE;
    padding-bottom: 3rem;
}

.header-image {
    margin-left: 35px;
    margin-right: 35px;
}

.header-separator {
    width: 1px;
    height: 45px;
    border-left: 1px white solid;
}

.developed-by {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: flex-start;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
}

.navbar-container {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}

.navbar {
    margin-top: 1rem;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 0.5rem;
    color: black;
}

.navbar-separator {
    width: 0px;
    height: 16px;
    border: 1px black solid;
    margin-bottom: 15px;
}


.container{
    margin-top: 1rem;
}



.title{
    color: #007fb8;
    font-size: 20px;
    font-weight: 700;
}
.subtitle{
    color: #007fb8;
    font-size: 16px;
    font-weight: 700;
}

.description{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.background-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bottom-background {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
@media (max-width:992px) {
    .logo-image {
        margin-left: 2rem;
        margin-top: 3rem;
        width: 200px;
        height: auto;
    }
}

@media (max-width:768px) {
    .logo-image {
        margin-left: 1rem;
        margin-top: 3rem;
        width: 100px;
        height: auto;
    }

    .footer-element {
        font-size: 14px;
    }

    .footer-description {
        font-size: 10px;
    }

    .header-image {
        width: 450px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width:576px) {
    .header-image {
        width: 350px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar {
        font-size: 14px;
    }
}