.body {
    background-color: #E1F3FB;
    color: #FFFFFF;
    font-family: Inter;
}

.grid {

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5rem;
    margin-top: 2rem;

}

header {
    background-color: black;
}

.header-image {
    margin-left: 35px;
    margin-right: 35px;
}

.header-separator {
    width: 1px;
    height: 45px;
    border-left: 1px white solid;
}

.developed-by {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: flex-start;
}

.header-text {
    font-size: 14px;
    font-weight: 400;
}

.navbar {
    margin-top: 1rem;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    display: flex;
    justify-content: right;
    align-items: right;
}

.navbar-separator {
    width: 0px;
    height: 16px;
    border: 1px white solid;
    margin-bottom: 15px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-column {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.subtitle {
    color: black;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    text-align: left;
    margin-left: 1rem;
}

.description {
    margin-left: 1rem;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.herramientas {
    margin-top: 4rem;
}

.herramientas-title {
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.herramientas-columns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.herramientas-left-column,
.herramientas-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herramientas-left-column img,
.herramientas-right-column img {
    max-width: 100%;
    height: auto;
}

.herramientas-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background: #B5CD38;
    width: 252px;
}

.herramientas-button:hover {
    background-color: #94ac2d;
}

.footer {
    margin-top: 7rem;
    display: flex !important;

}

.footer-text {
    text-align: center;
    color: #9BD6F1;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 700;
}

.footer-separator {
    width: 1020px;
    height: 0px;
    border: 2px rgba(155, 214, 241, 0.50) solid;
}

.footer-element {
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-decoration: underline;
}

.footer-element-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 20px; */
}


.footer-description {
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word;
}

.background-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bottom-background {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}